{% extends 'base.html' %}
{% load static %}
{% block title %} Nhập mệnh giá khác {% endblock %}
{% block content %}

    <div class="container">
        <form method="POST" class="withdrawal text-center">
            {% csrf_token %}
            <h1 class="display-4">Nhập mệnh giá</h1>
            <hr>
            <div class="row justify-align-center">
                <label class="form-label" for="amount">Vui lòng nhập mệnh giá</label>
            </div>
            <div class="row">
                <input type="text" name="amount" class="form-control plaintext text-center" required placeholder="Mệnh giá">
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary my-btn ">Xác nhận</button>
                    <a href="{% url 'withdrawal' %}" class="btn btn-primary my-btn ">Quay lại</a>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <h3 class="another-message" style="color: #cb0000">{{ message }}</h3>
            </div>
        </div>
    </div>

{% endblock %}