{% extends 'base.html' %}
{% load static %}
{% block title %}Lịch sử giao dịch{% endblock %}
{% block content %}
    <div class="container ">
        <form method="GET" class="withdrawal text-center">
            {% csrf_token %}
            <h1 class="display-4">Lịch sử giao dịch</h1>
            <hr>
            <div class="row my-row">
                <div class="col-sm-3 my-col">
                    <label>Ngày</label>
                </div>
                <div class="col-sm-2 my-col">
                    <label>Loại giao dịch</label>
                </div>
                <div class="col-sm-4 my-col">
                    <label>Nội dung</label>
                </div>
                <div class="col-sm-2 my-col">
                    <label>Số tiền</label>
                </div>

            </div>
            <div class="row my-row">
            {% for t in transaction %}
                <div class="col-sm-3 my-col">
                    <div class="row">
                        <input type="text" class="form-control info plaintext text-center" disabled value="{{ t.transaction_time }}">
                    </div>
                </div>
                <div class="col-sm-2 my-col">
                        <div class="row">
                            {% if t.transaction_type == "RT" %}
                                <input type="text" class="form-control info plaintext text-center" disabled
                                       value="Rút tiền">
                            {% elif t.transaction_type == "CKC" %}
                                <input type="text" class="form-control info plaintext text-center" disabled
                                       value="Chuyển khoản trong">
                            {% elif t.transaction_type == "CKK" %}
                                <input type="text" class="form-control info plaintext text-center" disabled
                                       value="Chuyển khoản ngoài">
                            {% endif %}
                        </div>
                </div>
                <div class="col-sm-4 my-col">
                        <div class="row">
                            <input type="text" class="form-control info plaintext text-center" disabled value="{{ t.content }}">
                        </div>
                </div>
                <div class="col-sm-2 my-col">
                        <div class="row">
                            <input type="text" class="form-control info plaintext text-center" disabled
                                   value="{{ t.amount }} VNĐ">
                        </div>
                </div>
                <div class="col-sm-1 my-col">
                        <div class="row">
                            <a href="{% url 'detail' t.id %}" class="form-control info" style="color:#0e76ed">Chi
                                tiết</a>
                        </div>
                </div>
            {% endfor %}
            </div>
        </form>
        <div class="d-flex justify-content-center">
            <a href="{% url 'normal_search' %}" class="btn btn-primary" style="margin-right:10px;">Tìm kiếm cơ bản</a>
{#            <a href="{% url 'advanced_search' %}" class="btn btn-primary">Tìm kiếm nâng cao</a>#}
        </div>
    </div>
{% endblock %}