{% extends 'base.html' %}
{% load static %}
{% block title %}Tìm kiếm giao dịch{% endblock %}
{% block content %}
    <div class="container">
        <form method="get" class="withdrawal text-center">
            {% csrf_token %}
            <h1 class="display-4">Tìm kiếm cơ bản</h1>
            <hr>
            <div class="my-search">
                <div class="row d-flex justify-content-center">
                    <label for="time-select" class="form-label">Khoảng thời gian</label>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-5">
                        <select class="form-control my-select" name="time-select">
                            <option value="7">Một tuần gần đây</option>
                            <option value="14">Hai tuần gần đây</option>
                            <option value="30">Một tháng gần đây</option>
                            <option value="180">Sáu tháng gần đây</option>
                            <option value="365">Một năm gần đây</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div>
            </div>
            <div class="row my-row">
                <div class="col-sm-3 my-col">
                    <label>Ngày</label>
                </div>
                <div class="col-sm-2 my-col">
                    <label>Loại giao dịch</label>
                </div>
                <div class="col-sm-4 my-col">
                    <label>Nội dung</label>
                </div>
                <div class="col-sm-2 my-col">
                    <label>Số tiền</label>
                </div>
            </div>
            <div class="row my-row">
                <div class="col-sm-3 my-col">
                    {% for d in date %}
                        <div class="row">
                            <input type="text" class="form-control info plaintext text-center" disabled value="{{ d }}">
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-2 my-col">
                    {% for t in type %}
                        <div class="row">
                            {% if t == "RT" %}
                                <input type="text" class="form-control info plaintext text-center" disabled
                                       value="Rút tiền">
                            {% elif t == "CKC" %}
                                <input type="text" class="form-control info plaintext text-center" disabled
                                       value="Chuyển khoản trong">
                            {% elif t == "CKK" %}
                                <input type="text" class="form-control info plaintext text-center" disabled
                                       value="Chuyển khoản ngoài">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-4 my-col">
                    {% for c in content %}
                        <div class="row">
                            <input type="text" class="form-control info plaintext text-center" disabled value="{{ c }}">
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-2 my-col">
                    {% for a in amount %}
                        <div class="row">
                            <input type="text" class="form-control info plaintext text-center" disabled
                                   value="{{ a }} VNĐ">
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-1 my-col">
                    {% for trans in transaction %}
                        <div class="row">
                            <a href="{% url 'detail' trans.id %}" class="form-control info" style="color:#0e76ed">Chi
                                tiết</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}