{% extends 'base.html' %}
{% load static %}
{% block title %}Mở thẻ{% endblock %}
{% block content %}
<div class="container">
        <form method="POST" class="withdrawal text-center">
            {% csrf_token %}
            <h1 class="display-4">Mở thẻ</h1>
            <hr>
            <div class="row">
                <div class="col-sm-5">
                    <label for="acc" class="form-label">Số tài khoản</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" name="acc" readonly class="form-control-plaintext my-text text-center" value="{{ usr }}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <label for="card-type" class="form-label">Loại thẻ</label>
                </div>
                <div class="col-sm-7">
                    <select name="type" class="form-control my-select text-center">
                        <option value="1">Thẻ tín dụng</option>
                        <option value="2">Thẻ ATM</option>
                        <option value="3">Thẻ ghi nợ</option>
                        <option value="4">Thẻ đảm bảo</option>
                        <option value="5">Thẻ VISA</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn my-btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </form>
</div>
{% endblock %}