{% extends 'base.html' %}
{% load static %}
{% block title %}Chuyển tiền khác ngân hàng{% endblock %}
{% block content %}
    <div class="container">
        <form method="POST" class="withdrawal text-center">
            {% csrf_token %}
            <h1 class="display-4">Chuyển tiền liên ngân hàng</h1>
            <hr>
            <div class="row">
                <div class="col">
                    <label>Tài khoản chuyển:</label>
                    <div class="col">
                        <input type="text" readonly class="form-control-plaintext text-center" id="sender" name="sender"
                               value="{{ usr }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Số dư:</label>
                    <div class="col">
                        <input type="text" readonly class="form-control-plaintext text-center" id="balance"
                               name="balance" value="{{ balance }} VNĐ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Số tài khoản nhận:</label>
                    <div class="col">
                        <input type="text" class="form-control plaintext text-center" id="receive-acc"
                               name="receive-acc" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Tên người nhận:</label>
                    <div class="col">
                        <input type="text" class="form-control plaintext text-center" id="name" name="name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Ngân hàng nhận:</label>
                    <select id="bank" name="ngan_hang">
                        <option value="No">------------</option>
                        <option value="TCB">Techcombank</option>
                        <option value="AGR">Agribank</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Chi nhánh:</label>
                    <select id="branch" name="branch">
                        <option value="">-----------</option>
                    </select>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $("#bank").change(function () {
                        switch ($(this).val()) {
                            case 'TCB':
                                $("#branch").html("<option value='TCB01'>Techcombank Thanh Xuan, Ha Noi</option><option value='TCB02'>Techcombank Binh Thanh, TP.HCM</option>" +
                                    "<option value='TCB03'>Techcombank Le Chan, Hai Phong</option>");
                                break;
                            case 'AGR':
                                $("#branch").html("<option value='AGR1'>Agribank Dong Anh, Ha Noi</option><option value='AGR2'>Agribank Q1, TP.HCM</option>" +
                                    "<option value='AGR3'>Agribank Q7, TP.HCM</option><option value='AGR4'>Agribank Ngo Quyen, Hai Phong</option>");
                                break;
                            default:
                                $("#branch").html("<option value=''>---------</option>");
                        }
                    });
                });
            </script>
            <div class="row">
                <div class="col">
                    <label>Số tiền:</label>
                    <div class="col">
                        <input type="text" class="form-control plaintext text-center" name="amount" id="amount"
                               required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Nội dung:</label>
                    <div class="col">
                        <input type="text" class="form-control plaintext text-center" name="content" id="content"
                               maxlength="100" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
            <p class="lead">{{ message }}</p>
        </form>
    </div>
{% endblock %}