{% extends 'base.html' %}
{% load static %}
{% block title %}Chuyển tiền cùng ngân hàng{% endblock %}
{% block content %}
<div class="container">
    <form method="POST" class="withdrawal text-center">
        {% csrf_token %}
        <h1 class="display-4">Chuyển tiền cùng ngân hàng</h1>
        <hr>
        <div class="row">
            <div class="col-sm-5">
                <label for="sender" class="form-label">Tài khoản chuyển:</label>
            </div>
            <div class="col-sm-7">
                 <input type="text" readonly class="form-control-plaintext my-text text-center" id="sender" name="sender" value="{{ usr }}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-5">
                <label for="balance" class="form-label">Số dư (VNĐ):</label>
            </div>
            <div class="col-sm-7">
                 <input type="text" readonly class="form-control-plaintext my-text text-center" id="balance" name="balance" value="{{ balance }}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-5">
                <label for="receive-acc" class="form-label">Số tài khoản nhận:</label>
            </div>
            <div class="col-sm-7">
                 <input type="text" class="form-control text-center " id="receive-acc" name="receive-acc" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-5">
                <label for="amount" class="form-label">Số tiền:</label>
            </div>
            <div class="col-sm-7">
                 <input type="text" class="form-control text-center " name="amount" id="amount" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-5">
                <label for="content" class="form-label">Nội dung:</label>
            </div>
            <div class="col-sm-7">
                 <input type="text" class="form-control text-center " name="content" id="content" maxlength="100" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn my-btn btn-primary">Xác nhận</button>
            </div>
        </div>
        <p class="lead">{{ message }}</p>
    </form>
</div>
{% endblock %}