{% extends 'base.html' %}
{% load static %}
{% block title %}Chuyển tiền khác ngân hàng{% endblock %}
{% block content %}
    <div class="container">
        <form method="POST" class="withdrawal text-center">
            {% csrf_token %}
            <h1 class="display-4">Chuyển tiền liên ngân hàng</h1>
            <hr>
            <div class="row">
                <div class="col-sm-5">
                    <label for="sender" class="form-label">Tài khoản chuyển:</label>
                </div>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext my-text text-center" id="sender" name="sender"
                               value="{{ usr }}">
                    </div>
                </div>
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <label for="balance" class="form-label">Số dư (VNĐ):</label>
                </div>
                    <div class="col-sm-7">
                        <input type="text" readonly class="form-control-plaintext my-text text-center" id="balance"
                               name="balance" value="{{ balance }}">
                    </div>
                </div>
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <label for="receive-acc" class="form-label">Số tài khoản nhận:</label>
                </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control plaintext text-center" id="receive-acc"
                               name="receive-acc" required>
                    </div>
                </div>
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <label for="name" class="form-label">Tên người nhận:</label>
                </div>
                    <div class="col-sm-7">
                        <input type="text" class="form-control plaintext text-center" id="name" name="name" required>
                    </div>
                </div>
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <label for="bank" class="form-label">Ngân hàng nhận:</label>
                </div>
                <div class="col-sm-7">
                    <select id="bank" name="ngan_hang" class="form-control my-select text-center banki">
                        <option value="No"></option>
                        <option value="TCB">Techcombank</option>
                        <option value="AGRB">Agribank</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <label for="branch" class="form-label">Chi nhánh:</label>
                </div>
                <div class="col-sm-7">
                    <select id="branch" name="branch" class="form-control my-select text-center bran">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <br>
            <script>
                $(document).ready(function () {
                    $("#bank").change(function () {
                        switch ($(this).val()) {
                            case 'TCB':
                                $("#branch").html("<option value='TCB01'>Techcombank Thanh Xuan, Ha Noi</option><option value='TCB02'>Techcombank Binh Thanh, TP.HCM</option>" +
                                    "<option value='TCB03'>Techcombank Le Chan, Hai Phong</option>");
                                break;
                            case 'AGRB':
                                $("#branch").html("<option value='AGR1'>Agribank Dong Anh, Ha Noi</option><option value='AGR2'>Agribank Q1, TP.HCM</option>" +
                                    "<option value='AGR3'>Agribank Q7, TP.HCM</option><option value='AGR4'>Agribank Ngo Quyen, Hai Phong</option>");
                                break;
                            default:
                                $("#branch").html("<option value=''></option>");
                        }
                    });
                });
            </script>
            <div class="row">
                <div class="col-sm-5">
                    <label for="amount" class="form-label">Số tiền:</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control plaintext text-center" name="amount" id="amount"
                           required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <label for="content" class="form-label">Nội dung:</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control plaintext text-center" name="content" id="content"
                           maxlength="100" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn my-btn btn-primary">Xác nhận</button>
                </div>
            </div>
            <p class="lead">{{ message }}</p>
        </form>
    </div>
{% endblock %}