{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form form.helper%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}Khách hàng{% endblock %}</title>
{#    <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
</head>
<body>
{% block content %}
    <div class="container">
    <div class="row">
    <div class="col-sm-3 col-md-8 col-lg-8 text-info mt-4"><h3>Chỉnh sửa thông tin khách hàng</h3></div>
    </div>
    <form action="{% url 'update_customer' object.id %}" method="post" class="mt-4">
        {% csrf_token %}
        <div class="form-row pt-3 ml-2 mr-2">
            <div class="form-group col-md-5 col-sm-3">
                    <label><strong>Họ tên đầy đủ </strong></label>
                    {{ f.full_name| as_crispy_field }}
            </div>
            <div class="form-group col-md-3">
                <label><strong>Giới tính</strong> </label>
                    {{ f.gender| as_crispy_field }}
            </div>
             <div class="form-group col-md-4 col-sm-3">
                    <label><strong>Ngày sinh</strong> </label>
                    {{ f.birthday| as_crispy_field }}
             </div>
        </div>
        <div class="form-row ml-2 mr-2">
            <div class="form-group col-md-7 col-sm-5">
                <label><strong>Email </strong></label>
                {{ f.email| as_crispy_field }}
            </div>
             <div class="form-group col-md-5 col-sm-3">
                 <label><strong>Số điện thoại</strong> </label>
                {{ f.phone_number| as_crispy_field }}
            </div>
        </div>
        <div class="form-row ml-2 mr-2">
            <div class="form-group col-md-12">
                <label><strong>Chi nhánh</strong></label>
                {{ f.branch| as_crispy_field }}
            </div>
        </div>
        <div class="form-row ml-2 mr-2">
            <div class="form-group col-md-12">
                <label><strong>Địa chỉ</strong> </label>
                {{ f.address| as_crispy_field }}
            </div>
       </div>
        <div class="form-row ml-2 mt-2">
           <div class="form-group col-lg-2 col-md-2">
                <button class="btn btn-info" type="submit">Lưu thay đổi</button>
           </div>
        </div>
    </form>

    </div>
{% endblock %}
</body>
</html>