<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

	<!-- TITLE -->
	<title>{% block title %}{% endblock title %}</title>

	<!-- STATIC CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	{% block stylesheet %}{% endblock stylesheet %}
</head>

<body>
    {% include "includes/navar.html" %}
    <main class="container">
        {% block customer_result %}

        {% endblock %}
    	{% block content %}

    	{% endblock content %}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block dashboard %}

        {% endblock %}
    </main>
    {% block scripts %}{% endblock scripts %}
    <footer class="bg-light">
        <div class="container-fluid padding">
            <div class="row text-sm-right">
                <div class="col-12">
                     {% if request.user.is_authenticated %}
                        <div class="golink">
                            <a href="{% url 'home' %}">Trang chủ</a>
                        </div>
                     {% endif %}
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
