{% extends "base.html" %}
{% block title %}
	Trang chủ
{% endblock title %}

{% block content %}
	<h1>Trang chủ</h1>
    <div class="p-2" style="color:#005cbf">
        <h5>Chào <strong>{{request.user.username}}</strong></h5>
    </div>
{% endblock content %}
{% block dashboard %}
    <div class="btn-group">
        <button type="button" class="btn btn-success" value="Mở thẻ ngân hàng" onclick="location.href='{% url 'open_card' %}'">
        Mở thẻ ngân hàng</button>
        <button type="button" class="btn btn-success" value="Mở tài khoản ngân hàng" onclick="location.href='{% url 'open_account' %}'">
        Mở tài khoản ngân hàng</button>
        <button type="button" class="btn btn-success" value="Mở tài khoản ngân hàng" onclick="location.href='{% url 'search_customer' %}'">
        Khách hàng</button>
    </div>
{% endblock %}
{% block customer_result %}
    <form method="get" action="{% url 'search_customer' %}">
        <div class="row">
            <input type="text" name="Q" placeholder="Search" class="form-control col-sm-3 col-md-3 col-lg-3" value="{{ request.GET.Q}}">
            <input type="submit" class="btn btn-primary btn-sm" value="Search">
        </div>
    </form>
    {% for object in object_customer %}
            <div class="container">
                <div class="row">
                    {{ object.full_name }}
                </div>
            </div>
    {% endfor %}

{% endblock %}