{% extends 'base.html' %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Truy vấn tài khoản{% endblock %}</title>
</head>
<body>
    {% block content %}
       <div class="row mt-3 mb-5">
        <label class="text-info mt-3 col col-sm-3 col-md-5 col-lg-5"><h4>Truy vấn tài khoản</h4></label>
        <div class="col-sm-0 col-md-3 col-lg-3"></div>
       </div>
       <div class="container-fluid">
         <form method="post" action="{% url 'show_acc' %}" class="mt-2 mb-5">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-row ">
                    <div class="col col-sm-2 col-md-2 col-lg-2"></div>
                    <div class="col col-sm-8 col-md-8 col-lg-8">
                        <div class="row">
                            <input type="text" placeholder="Nhập số tài khoản " name="account_no"
                                   class="form-control col-md-10 col-lg-10" required>
                            <button type="submit" class="btn btn-sm btn-primary">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% if messages %}
        {% for message in messages %}
            {% if message.level ==  DEFAULT_MESSAGE_LEVELS.ERROR  %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if result_account %}
            <div class="text-right mb-4">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm">In danh sách</button>
                {% if result_account.status == '1' %}
                    <button type="button" id="js-btnConfirmBox"
                            onclick="location.href='{% url 'lock_acc' result_account.account_no %}'" class="btn btn-sm btn-outline-danger">Khóa tài khoản </button>
                    {% else %}
                    <button type="button" onclick="location.href='{% url 'open_acc' result_account.account_no %}'" class="btn btn-sm btn-outline-success">Mở tài khoản </button>
                {% endif %}
            </div>
            </div>
            <hr>
           <div class="row">
               <script>
                   const btnConfirmBox = document.getElementById("js-btnConfirmBox");
                    btnConfirmBox.addEventListener("click", () => {
                        if (confirm("select an option !!!")) {
                            {% url 'lock_acc' result_account.account_no %}
                        } else {
                            console.log("you press cancel")
                        }
                    });
               </script>
                <div class="col col-sm-8 col-md-8 col-lg-8">
                   <label class="text-info mr-2">Số tài khoản:</label><strong>{{ result_account.account_no }}</strong>
                    </div>
                <div class="text-sm row">
                        <div class="text-info mr-2">Tình trạng:</div>
                        {% if result_account.status == '1'%}
                            <p>Hoạt động </p>{% else %}<p>Không hoạt động</p>
                        {% endif %}
                </div>
           </div>
            <form class="form-text" style="background-color: whitesmoke">
                <div class="form-group">
                    <div class="text-sm-left mt-2 pt-3 pl-4">
                        <strong><i>
                            <a href="{% url 'detail_customer_view' result_customer.id%}">Chi tiết khách hàng</a>
                        </i></strong>
                    </div>
                    <hr>
                    <div class="form-row pl-4 pb-2">
                        <div class="col col-sm-6 col-md-6 col-lg-6">
                             <label class="mr-2"><strong>Họ tên khách hàng:</strong></label>
                             {{ result_customer.full_name }}
                        </div>
                        <div class="col col-sm-0 col-md-1 col-lg-1"></div>
                        <div class="col col-sm-6 col-md-5 col-lg-5">
                             <label class="mr-2"><strong>Email:</strong></label>
                             {{ result_customer.email }}
                        </div>
                    </div>
                     <div class="form-row pl-4 pb-2">
                        <div class="col col-sm-6 col-md-6 col-lg-6">
                             <label class="mr-2"><strong>Ngân hàng:</strong></label>
                             {{ result_customer.branch.bank_id.bank_name }}
                        </div>
                        <div class="col col-sm-0 col-md-1 col-lg-1"></div>
                        <div class="col col-sm-6 col-md-5 col-lg-5">
                             <label class="mr-2"><strong>Chi nhánh:</strong></label>
                             {{ result_customer.branch.branch_name }}
                        </div>
                    </div>
                    <div class="form-row pl-4 pb-2">
                        <div class="col col-sm-6 col-md-5 col-lg-5">
                             <label class="mr-2"><strong>Loại giấy tờ:</strong></label>
                             {{ result_customer.get_id_type_display}}
                        </div>
                        <div class="col col-sm-0 col-md-2 col-lg-2"></div>
                        <div class="col col-sm-6 col-md-5 col-lg-5">
                             <label class="mr-2"><strong>Mã số: </strong></label>
                             {{ result_customer.id_no}}
                        </div>
                    </div>
                    <hr>
                    <div class="text-sm-left text-primary pl-4"><strong><i>Các giao dịch gần đây</i></strong></div>
                    <hr>
                </div>
            <div class="container-fluid">
                        <table class="table table-hover table-position table-bordered table-sm text-center">
                             <thead class="thead-light">
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Thẻ giao dịch</th>
                                <th scope="col">Loại</th>
                                <th scope="col">Số tiền</th>
                                <th scope="col">Thời gian</th>
                                <th scope="col">ATM</th>
                                <th scope="col">Chi tiết</th>
                            </tr>
                        </thead>
                            {% for result_transaction in result_transactions %}
                                <tr>
                                    <td>{{ result_transaction.id }}</td>
                                    <td>{{ result_transaction.card_no }}</td>
                                    <td>
                                    {% if result_transaction.transaction_type == 'RT' %}
                                        Rút tiền
                                        {% elif result_transaction.transaction_type == 'CKC' %}
                                        Chuyển tiền ngoài
                                        {% elif result_transaction.transaction_type == 'CKK' %}
                                        Chuyển tiền trong
                                    {% endif %}</td>
                                    <td>{{ result_transaction.balance | intcomma }} <b><small>VND</small></b></td>
                                    <td>{{ result_transaction.transaction_time }}</td>
                                    <td>{{ result_transaction.atm }}</td>
                                    <td><div class="btn btn-outline-info btn-sm" onclick="location.href='{% url 'trans' result_transaction.id %}'">Chi tiết</div></td>
                                </tr>
                            {% endfor %}
                        </table>
                <div class="text-sm">
                    <div class="row pl-3 mt-4">
                        <div class="col col-sm-0 col-lg-6 col-md-6"></div>
                        <div class="text-info mr-2">Tổng số tiền đã giao dịch: </div>{{ money }}<strong class="ml-2">VND</strong>
                    </div>
                </div>
                </div>
            </form>
            {{ result_account }}
            {{ result_customer.full_name }}
        {% endif %}
        </div>
    {% endblock %}
</body>
</html>