{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block title%}ATM{% endblock %}
    {% block content %}
        <H3>ATM</H3>
        <form method="post" action="{% url 'update_atm' atm_id branch_id%}">
            {% csrf_token %}
            <input type="text" name="address" placeholder="{{ atm.address }}">
            <select name="employee">
                {% for a in employee_object  %}
                    <option value="{{ a.employee_id }}">
                        {{ a.full_name }}
                    </option>
                {% endfor %}
            </select>
        <input type="submit" value="Submit">
        </form>
        {% if  messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endblock %}
</body>
</html>