{% load static %}
{% load  crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thay đổi mật khẩu</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .position{
                position: absolute;
                left: 50%;
                height: 100%;
                width: 100%;
                margin-left: -100px;
                top: 25%;
        }
    </style>
</head>
<body>
    <div class="password_change" style="font-family: sans-serif">
       <div class="container-fluid">
            <div class="col col-5">
                <form method="post" class="form-text position" action="{% url 'change_password' %}">
                {% csrf_token %}
                    {{ form.old_password|as_crispy_field}}
                    {{ form.new_password1|as_crispy_field}}
                    {{ form.new_password2|as_crispy_field}}
                    <button class="btn btn-outline-success btn-block" type="submit">Change</button>
                </form>
            </div>
       </div>
    </div>
</body>
</html>