<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thay đổi mật khẩu</title>
{#    <style>#}
{#        .password_change{#}
{#            max-width: 780px;#}
{#          padding: 15px 35px 45px;#}
{#          margin: 0 auto;#}
{#          margin-top: 30px;#}
{#          background-color: #ffeeba;#}
{#          border: 1px solid rgba(0,0,0,0.1);#}
{#        }#}
{#    </style>#}
</head>
<body>
    <div class="password_change" style="font-family: sans-serif">
       <div class="text-center">
            <form method="post" class="form-text" action="{% url 'change_password' %}">
            {% csrf_token %}
                <div class="form-row">
                    <div class="form-group">
                        <div>
                            <label><strong>Mật khẩu cũ</strong></label>
                            <div class="form-control">{{ form.old_password }}</div>
                        </div>
                    <div>
                            <label><strong>Mật khẩu mới</strong></label>
                            <div class="form-control">{{ form.new_password1 }}</div>
                    </div>
                <div>
                    <label><strong>Nhập lại mật khẩu</strong></label>
                    <div class="form-control">{{ form.new_password2 }}</div>
                </div>
                    </div>
                </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Thay đổi</button>
        </form>
       </div>
    </div>
</body>
</html>