<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    {% if request.user.is_authenticated %}
      <div class="p-2">
        <a href="{% url 'logout' %}" class="btn btn-secondary btn-sm" role="button">Đăng xuất</a>
      </div>
        <div class="p-2" style="left: 200px;">
            <a href="{% url 'change_password' %}" class="btn btn-secondary btn-sm" role="button" >Thay đổi mật khẩu</a>
        </div>
    {% else %}
      <a href="{% url 'login' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Đăng nhập</a>
    {% endif %}
  </form>
</nav>