<nav class="nav navbar-light bg-light">
  <form class="form">
    {% if request.user.is_authenticated %}
            <div class="btn-group">
                <a href="{% url 'logout' %}" class="btn btn-secondary btn-sm" role="button"><small>Đăng xuất</small></a>
                <a href="{% url 'change_password' %}" class="btn btn-secondary btn-sm" role="button" >
                    <small>Thay đổi mật khẩu</small></a>
            </div>
            <div class="text-primary" style="float: right"><small>Chào <strong>{{request.user.username}}</strong></small></div>
    {% else %}
      <a href="{% url 'login' %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Đăng nhập</a>
    {% endif %}
  </form>
</nav>